# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode
pan.txt

# gradle
build/*
!build/libs/
.gradle/

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
changelog.txt
